@charset "utf-8";

mi-boton, mi-boton-2{
    padding: 10px;
    border: 5px solid green;
}    

body{
    padding: 16px;
}

button[is="mi-boton-extendido"]{
    padding: 10px;
    font-weight: bold;
}

mi-mensaje{
    display:block;
    padding:10px;
    border: 5px solid black;
    margin-bottom: 10px;
}

mi-mensaje[casi-visible]{
    border:none;
}